## Experiment tracking

(Example)

| ID | Data | Pre | Seperation Date | Algorithm | RMSLE Train | RMSLE Test | Code | Comments |
|---|---|---|---|---|---|---|---|---|
| 0 | gdsc2_public.csv | Standard | 01.01.2018 | Median | 1.62 | 2.10 | [Link](http://de-mucingode1/gitlab/dkuehlwein/global_data_science_challenge_2_public/tags/Baselines) | Baseline |
| 1 | gdsc2_public.csv | One-Hot-Encoding of 'work_type', 'work_priority' | 01.01.2018 | KNNRegressor (Default) | 1.99 | 1.49 | [Link](http://de-mucingode1/gitlab/dkuehlwein/global_data_science_challenge_2_public/tags/Baselines) | Performs worse than baseline on training. Model is not complex enough, need to check train/test split |

In [8]:
import pandas as pd
import pandas_profiling as pp
import numpy as np

In [9]:
df = pd.read_csv('Taxi-time Prediction Data/0. Airport data/Airport_Data.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,partition,carrier,flight,acType,acReg,ship,mode_s,status,sto,sqt,...,acars_out,vdgs_out,stand_free,eobt,aobt,atot,roll,speed,last_distance_to_gate,last_in_sector
0,AP,CAR1,NaN,MD88,N952DL,0,11353195,ACTIVATED,undefined,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AP,CAR1,NaN,MD88,N952DL,0,NaN,ACTIVATED,undefined,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AP,NaN,NaN,CRJ/9,NaN,NaN,NaN,ACTIVATED,7/30/2018 4:18,7/30/2018 4:18,...,NaN,NaN,7/30/2018 4:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AP,CAR1,27,A350/9,N503DN,3503,10896749,ACTIVATED,7/30/2018 4:19,7/30/2018 4:19,...,NaN,NaN,7/30/2018 4:18,7/30/2018 4:19,7/30/2018 4:18,7/30/2018 4:33,NaN,NaN,NaN,NaN
4,AP,CAR1,2519,B737/9-WL,N845DN,3845,11244228,ACTIVATED,7/30/2018 4:45,7/30/2018 4:33,...,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN

In [10]:
df.profile_report(style={'full_width':True})

AttributeError: 'DataFrame' object has no attribute 'profile_report'